extends layout

block content
  .container
    if (!user)
      a(href="/login") Login
      br
      a(href="/register") Register
    if (user)
      a(href="/logout") Logout
      br
      a(href="/product") Add Products
      h3 You are currently logged in as: #{user.username}
      br
      .menu
        p Users:
        br
        p Products:
